.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navBar {
  display: flex;
  width: 100%;
  background-color: #4464AD;
  justify-content: space-between;
  height: 6rem;
}

.navTitle {
  color: whitesmoke;
  margin-left: 10rem;
}

.navButtons button {
  color: red;
}

.footer {
  width: 100%;
  background-color: #4464AD;
  height: 6rem;
  bottom: 0px;
}

.cardKeyInfo {
  display: flex;
  justify-content: space-evenly;
}

.cardInfo {
  display: flex;
  border: 1px solid red;
}

.cardInfo div {
  justify-content: space-evenly;
  border: 1px solid black;
}

.card {
  background-color: darkcyan;
  width: 30%;
  margin: 0 auto
}

.allCards {
  display: flex;
}

.checkboxes {
  margin: 1rem 0;
}

.imgBanner {
  display: flex;
  margin: 1rem 0;
  border: 1px solid red;
  justify-content: space-evenly;
}

.img {
  margin: 1rem;
  width: 10rem;
  height: 10rem;
  border: 1px solid black;
}

.toolbar{
  display: flex;
}

/* colors
F2E9DC
Linen

63A375
Forest green

466995
Queen Blue

650D1B
Persian Plum

31231E
Bistre */
